outputs/
inputs/grafo_1.txt
inputs/grafo_2.txt
inputs/grafo_3.txt
inputs/grafo_4.txt
inputs/grafo_5.txt
inputs/grafo_6.txt
inputs/grafo_W_1.txt
inputs/grafo_W_2.txt
inputs/grafo_W_3.txt
inputs/grafo_W_4.txt
inputs/grafo_W_5.txt